[alias]
	plush = "!git pull --no-edit && git push"
  cleanup = "!git fetch -p && for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do git branch -D $branch; done"
[core]
	editor = vim
	autocrlf = input
[push]
	default = simple
[user]
	email = james@jdrydn.com
	name = jdrydn
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
