[alias]
	plush = "!git pull --no-edit && git push"
  cleanup = "!git remote prune origin"
[core]
	editor = vim
	autocrlf = input
[push]
	default = simple
[user]
	name = jdrydn
	email = james@jdrydn.com
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true

[pull]
	rebase = false
[init]
	defaultBranch = master
