[alias]
	deploy = "!bash ~/.dotfiles/git-deploy.sh"
	plush = "!git pull && git push"
[core]
	editor = vim
	autocrlf = input
[push]
	default = simple
[user]
	email = james@jdrydn.com
	name = jdrydn
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
